.form-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-units {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  accent-color: #403a80;
}

.budget {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

@media (max-width: 500px)  {
  .card-units {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5 {
      margin: 1rem 0;
    }
    strong {
      margin: 1rem 0;
    }
  }
  .add-button {
    margin-top: 1rem;
  }
}