.banner {
    background-image: url(../assets/banner.webp);
    background-size: cover;
    height: 12rem;
    border-radius: 3rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }